In [ ]:
import pandas as pd

In [3]:
import numpy as np

In [9]:
df = pd.DataFrame(np.random.randn(5,3))

In [10]:
df

          0         1         2
0 -0.972275  1.196352  0.209484
1  0.976017 -2.130694  1.623446
2  0.377253  0.638680  0.574626
3  0.184045  0.685034  0.429155
4  1.625715  0.461982  0.182655

In [6]:
df.mean()

0   -0.980327
1   -0.692907
2    0.756041
dtype: float64

In [7]:
df[0]

0   -0.177182
1   -0.898309
2   -0.493009
3   -2.796719
4   -0.536413
Name: 0, dtype: float64

In [8]:
df[0] + df[1]

0   -0.619397
1   -0.894285
2   -2.970633
3   -3.527618
4   -0.354237
dtype: float64